# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
    paths:
      - 'PhxTools/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'PhxTools/**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: [windows-latest]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.1
      with:
        vs-version: '[15.9,]'

    - name: Setup NuGet.exe for use with actions
      # You may pin to the exact commit or the version.
      # uses: NuGet/setup-nuget@255f46e14d51fbc603743e2aa2907954463fbeb9
      uses: NuGet/setup-nuget@v1.0.2
    
    - name: Restore NuGet packages
      run: nuget restore PhxTools/PhxTools.sln

    - name: Build PhxTools (Debug)
      run: msbuild PhxTools/PhxTools.sln /p:Configuration=Debug

    - name: Build PhxTools (Release)
      run: msbuild PhxTools/PhxTools.sln /p:Configuration=Release
